@import "../styles/common.scss";

.blog-post {
  @include hoverTransition();

  color: $gray;
  max-width: 700px;
  width: 100%;
  height: 100%;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  pre {
    width: 100%;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: auto;
    text-align: left;

    code {
      font-size: 13px;
      font-family: "Source Code Pro", monospace;
      color: $gray;
    }
  }

  &-back {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    align-self: start;

    &:visited {
      color: $gray;
    }

    &:hover {
      color: $orange;
    }
  }

  &-title {
    color: $orange;
    font-size: 2.2rem;
    font-family: "Spoqa Han Sans", sans-serif;
    margin: 20px;
  }

  &-date {
    font-family: "Spoqa Han Sans", sans-serif;
    font-size: 0.8rem;
    opacity: 0.7;
  }

  &-html {
    font-family: "Spoqa Han Sans", sans-serif;
    font-size: 0.95rem;
    width: 100%;
    padding: 60px 20px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    a {
      color: $orange;
      text-decoration: none;
      
      &:hover {
        color: white;
        background-color: $orange;
        padding: 0 4px;
        border-radius: 4px;
      }
    }

    img {
      width: 100%;
      margin-top: 4px;
    }

    ol,
    ul {
      padding-left: 18px;
    }

    hr {
      color: #{$gray}20;
    }
  }

  @media ($md-down) {
    margin: 20px auto;

    &-title {
      font-size: 1.8rem;
    }

    &-html {
      font-size: 0.9rem;
    }
  }
}
