@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");
@import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");

@import "../components/Header.scss";

*, html { margin: 0; padding: 0; }

.index {
  color: $gray;
  font-family: "Montserrat", sans-serif;
  width: 80%;
  min-width: 1200px;
  height: 100vh;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  &-child {
    height: 100%;
    font-family: "Spoqa Han Sans", sans-serif;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
  }

  .post {
    padding: 0 50px;
  }

}
