@import url("https://fonts.googleapis.com/css?family=Montserrat:800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");
@import url("//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");

@import "../styles/common.scss";

*, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  color: $gray;
  font-family: "Montserrat", sans-serif;
  width: 80%;
  max-width: 1200px;
  min-height: 600px;
  margin: 50px auto;

  &-child {
    height: 100%;
    font-family: "Spoqa Han Sans", sans-serif;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
  }

  @media ($md-down) {
    width: 100%;
  }
}

.posts {
  margin: 20px 0;
}
