@import url('https://fonts.googleapis.com/css?family=Montserrat:800&display=swap');

* , html { margin: 0; padding: 0; }

.index {
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  min-width: 1200px;
  height: 100vh;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .post {
    padding: 0 50px;
  }
}