$gray: #474747;
$orange: #ff7a0f;
$yellow: #fde872;

.header {
    width: 30%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 50px;
    box-sizing: border-box;
    border-right: 1px solid rgba(0, 0, 0, 0.5);

    &-logo {
        color: $gray;
        font-size: 25px;
        font-weight: 1000;
        text-decoration: none;
        display: inline;
    }

    &-link {
        a {
            margin: 0;
            padding: 0;

            &:first-child {  
                img {
                    width: 15px;
                    height: 15px;
                    margin-right: 5px;
                }
            }

            &:last-child {
                img {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }

    &-copyright {
        color: $orange;
        font-size: 10px;
        opacity: 0.5;
    }
}