.layout {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-content {
        width: 70%;
        height: 500px;
        padding: 50px 80px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        overflow: -moz-scrollbars-none; // firefox
        -ms-overflow-style: none; // IE +10

        &::-webkit-scrollbar { // chrome, safari, opera
            width: 0;
        }
    }
}