@import "../styles/common.scss";

.post-item {
  font-family: "Spoqa Han Sans", sans-serif;
  margin: 1rem 0;

  a {
    color: $gray;
    text-decoration: none;
    position: relative;
    z-index: 1;
   
    &:visited {
      color: $gray;
    }
  }

  &-date {
    font-size: 0.8rem;
    opacity: 0.7;
  }
  
  &-title {
    font-size: 1.5rem;
    font-weight: 600;
    display: inline-block;
    position: relative;

    &::after {
      content: '';
      background-color: $yellow;
      position: absolute;
      left: 0;
      bottom: 2px;
      width: 0;
      height: 10px;
      transition: all 0.4s ease-in-out;
      opacity: 0;
      z-index: -1;
    }

    &:hover {
      &::after {
        width: 100%;
        opacity: 1;
      }
    }
  }

  &-tags {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0 4px;


    li {
      list-style: none;
      text-decoration: none;
      display: inline;
      opacity: .8;
    }
  }

  @media ($md-down) {
    &-date {
      font-size: 0.7rem;
    }

    &-title {
      font-size: 1.2rem;
    }

    &-tags {
      font-size: 0.9rem;
    }
  }
}
