@import './Header.scss';

.tag {
    color: #c0c0c0;
    font-size: 12px;
    padding: 5px 10px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: rgba(223, 223, 223, 0.2);
    border-radius: 5px;
    display: inline-block;

    &:hover {
        color: $orange;
    }
}